body {
  background-color: coral;
}

img {
  height: 200px;
  width: 200px;
}

.chat1 {
  border-radius: 8px;
}

.spin {
  border-radius: 50px;
  display: inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
