body {
  background-color: coral;
}

.spin {
  width: 200px;
  height: 200px;
  display: inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
