body {
  background-color: coral;
}

.spin {
  width: 10 em;
  height: 10 em;
  display: inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
